nav ul a,
nav .brand-logo {
  color: #000000;
}

body {
    color: #ffffff;
    display: flex;
    font-weight: 200;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2, h3, h4, h5 {
    font-weight: 200;
}

.panel {
    font-size: 1.4rem;
  border: solid 1px #e8ca79;
  margin-top: 4rem;
  padding: 3rem;
  background: rgba(0, 0, 0, 0.5);
}

nav ul a {
    font-size: 1.5rem;
}

nav a {
    color: #e8ca79;
}

.btn {
    color: #000000;
    font-size: 1.5rem;
}

.social {
  margin-left: 25px;
  padding: 0;
}

.social img {
  width: 30px;
}

main {
  flex: 1 0 auto;
}

html {
  background: url(../img/winter-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.material-icons.gold {
  color: #e8ca79;
}

/*Form Colors*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset;
}


/* label color */
.input-field label {
  color: #ffffff;
    font-size: 1.5rem;
}

.input-field label.active {
    font-size: 1rem;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ffffff;
}
.input-field input[type=email]:focus + label {
    color: #ffffff;
}
.input-field input[type=tel]:focus + label {
    color: #ffffff;
}
textarea.materialize-textarea:focus:not([readonly]) + label{
    color: #ffffff;
}
/*
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #e8ca79;
  box-shadow: 0 1px 0 0 #e8ca79;
}
.input-field input[type=email]:focus {
  border-bottom: 1px solid #e8ca79;
  box-shadow: 0 1px 0 0 #e8ca79;
}
.input-field input[type=tel]:focus {
    border-bottom: 1px solid #e8ca79;
    box-shadow: 0 1px 0 0 #e8ca79;
}
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #e8ca79;
  box-shadow: 0 1px 0 0 #e8ca79;
}
/* valid color */

/* invalid color */
.input-field input[type=text].ng-invalid.ng-dirty {
  border-bottom: 1px solid #ff0000;
  box-shadow: 0 1px 0 0 #ff0000;
}
.input-field input[type=email].ng-invalid.ng-touched {
  border-bottom: 1px solid #ff0000;
  box-shadow: 0 1px 0 0 #ff0000;
}