<div class="row">
    <div class="col s12 m10 l8 offset-l2 offset-m1">
        <div class="panel">
            <span class="center-align white-text"><h1>Contact Me</h1></span>
            <div ng-controller="ContactCtrl">
                <form novalidate name='contactForm' class="simple-form">
                    <div class="input-field">
                        <input id="contact-name" type="text" ng-model="contact.name" required/>
                        <label for="contact-name">Name</label>
                    </div>
                    <div class="input-field">
                        <input id="icon_telephone" type="tel" ng-model="contact.phone">
                        <label for="icon_telephone">Telephone</label>
                    </div>

                    <div class="input-field">
                        <input id="contact-email" type="email" ng-model="contact.email"/>
                        <label for="contact-email">Email</label>
                    </div>

                    <div class="input-field">
                        <textarea id="contact-message" class="materialize-textarea"  ng-model="contact.message" required></textarea>
                        <label for="contact-message">Message</label>
                    </div>
                    <div class="right-align">
                        <input class="btn btn-large white" type="submit" ng-click="update(contact)" ng-disabled="contactForm.$invalid" value="Submit"/>
                    </div>
                </form>
                <p id="contact-confirm" ng-bind="confirmMessage"></p>
            </div>
        </div>
    </div>
</div>